.centrar{
    background-color: rgb(204, 202, 202);
    display: contents;
}

/* Media query para pantallas grandes */
@media only screen and (min-width: 768px) {
    .imagen {
        margin: 10px;
        height: 500px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .imagen {
        margin: 7px;
        height: 400px;
    }
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 480px) {
    .imagen {
        margin: 5px;
        height: 200px;
    }
}
