/* Configuración de fuente con GoogleApi */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@390;400;500;600;700&display=swap');

.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 390;
    font-style: normal;
  }
  
  .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* Configuraciones generales
 */
:root {

    --colorNavegacion: #212529;
    --grisOscuro: #212529;
    --gris: #c0c1c3;
    --blanco: #fff;
    --azulTierra: #1c305c;
    --color_boton: #0d6efd;
    --colorNaranja: #db6101;

}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.body-galeria {
    display: block !important;
}

/** Globales */
* {
    font-family: "Rajdhani", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: large;
    box-sizing: border-box;


}

/** Bloque Navegacion */

.header {
    min-height: 50px;
}

.navegacion {
    background-color: var(--colorNavegacion);
    width: 100%;
    padding: 10px;

}

.navegacion_contenido {
    display: flex;
    gap: 10px;

}

.navegacion_contenido--enlace {
    text-decoration: none;
    color: var(--gris);
}

.enlaces-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navegacion_contenido--enlace:hover {
    color: white;
}

.enlaces-nav__boton {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navegacion_contenido--boton {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 8px 16px 8px 16px;
    background-color: var(--color_boton);
    border: 2px solid var(--grisOscuro);
    border-radius: 5px;
}

.navegacion_contenido--boton:hover {
    background-color: var(--blanco);
    color: var(--color_boton);
    cursor: pointer;
}

/** Background Imagen Luna */

.bg-luna {
    background-image: url(../img/imagen-index.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
    width: 100%;
    height: 600px;
}

.eslogan {
    text-align: center;
}

.historia {
    font-size: 90px;
    color: #c0c1c3;
    text-shadow: 3px 3px #111;
    font-weight: bold;
    font-style: italic;
}

.viaje {
    font-size: 50px;
    color: #c0c1c3;
    text-shadow: 3px 3px #111;
    font-weight: bold;
    font-style: italic;
}

/** Footer */

.footer {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer_contenido {
    background-color: var(--blanco);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px 0 16px 0;
}

.footer_cotenido-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.footer_cotenido-logo img {
    height: 40px;
}

.footer_contenido-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 10px;
}

.copy_footer {
    background-color: var(--colorNavegacion);
    color: var(--blanco);
    padding: 20px 0 20px 0;
}

@media (max-width: 768px) {
    .footer_contenido {
        flex-direction: column;
    }
}

/** Formulario Registro */

.form_registro {
    background-image: url(../img/moon-mars.webp);

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form_contenedor {
    width: 600px;
    margin: auto;
    padding: 3%;

}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
}

.form_input label {
    color: var(--blanco);
}

.form_input input {
    padding: 8px;
    border-radius: 5px;
}

.boton_registro {
    padding: 9px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--color_boton);
    cursor: pointer;
}

.boton_registro:hover {

    background-color: var(--blanco);
    color: var(--color_boton);

}

.boton_separacion {
    margin-top: 9px;
    padding: 0 0 10px 0;

}

.boton_separacion p {
    color: var(--blanco);
}

.boton_separacion a {
    color: var(--color_boton);
}

/** Login */

.form_login {
    background-image: url(../img/hombreLuna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;

    padding: 0 0 20px 0;





}


/** BLOG */
.blog {

    width: 100%;
    width: auto;
    margin: auto;


}

.blog-contenido {
    margin-top: 40px;
}

.blog-contenido h2 {
    text-align: center;
    margin-bottom: 30px;
}

.entrada-blog {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.entrada-blog:last-child {
    margin-bottom: 0;

}

.entrada-imagen {
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;
}

/* Blog */

.subtitulo_blog{
    text-align: center;
    color: var(--colorNaranja);
    margin-bottom: 30px;
}
.entrada-imagen_blog{
    width: 400px;
   
}

.bloque_imgEntrada{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.texto_entrada_blog{

    width: 600px;
    margin: auto;
}

.parrafo_entrada_blog{
    line-height: 1.8;
    font-size: 18px;
    text-wrap: balance;
    text-align: justify;
    margin-bottom: 10px;
}

.texto-entrada--titulo {
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--color_boton);
}

.texto-entrada--titulo:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: var(--color_boton);
    margin-top: 10px;

}

.texto-entrada--p {
    color: var(--colorNavegacion);
    display: flex;
    margin-bottom: 10px;

}

.texto-entrada--parrafo {
    color: var(--colorNavegacion);
    margin-bottom: 30px;

}

.texto-entrada--span {
    background: var(--blanco);
    color: var(--colorNaranja);
}

.texto-entrada--boton {
    padding: 15px;
    text-decoration: none;
    background-color: var(--color_boton);
    color: var(--blanco);
    border-radius: 5px;

}



.footer_contenido--blog {
    text-align: center;
}

.copy_foooter--blog {
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: var(--colorNavegacion);
    color: var(--blanco);

}

/** Formulario de contacto */
#container-contacto {
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #111;
        color: #fff;
        margin: 1px;
    }

    header {
        background-color: #333;
        text-align: center;
        height: 55;
        justify-content: right;
    }

    .menu {
        display: flex;
        align-items: right;
        justify-content: left;
    }

    .cuentanos {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .header-container {
        flex-direction: column;
        background-image: url(../img/earth-1365995.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
    }


    h1 {
        font-size: 32px;
        margin: 20px 0;
    }

    nav ul {
        list-style-type: none;
    }

    nav ul li {
        display: inline;
        margin-left: 20px;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        width: 95%;
        padding: 10px;
        border: 1px solid #777;
        background-color: #444;
        color: #fff;
        border-radius: 5px;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
        background-position: right 10px top 50%;
        background-repeat: no-repeat;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        background-color: var(--color_boton);
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }



    button[type="submit"]:hover {
        background-color: var(--blanco);
        color: var(--color_boton);
    }

    .boton {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 1000px) {
    .entrada-blog {
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;

    }

    .texto-entrada {
        text-align: center;
    }

    .texto-entrada--titulo {
        text-align: center;
    }

    .texto-entrada--p {
        justify-content: center;
    }

    .texto-entrada--titulo:after {
        content: '';
        display: block;
        width: 150px;
        height: 5px;
        background: var(--color_boton);
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_contenido-contacto {
        width: auto;
    }

    .copy_foooter--blog {
        width: 1000px;

    }

}


@media (max-width: 768px) {

    .navegacion {
        width: auto;
    }

    .navegacion_contenido {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .enlaces-nav__boton {
        position: static;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .copy_foooter--blog {
        width: 1000px;
    }

    .blog-contenido {
        text-align: center;
    }

}


/** Responsive registro*/

@media (max-width: 768px) {
    .form_contenedor {
        width: 90%;
        max-width: 400px;
        padding: 5%;

    }

    .form_registro {
        background-size: cover;
        background-position: center;

    }

    .boton_registro {

        display: block;
        margin: auto;

    }
}


/**Responsive login_php*/
@media (max-width: 768px) {
    .form_contenedor {
        max-width: 100%;
        /* El formulario ocupará todo el ancho disponible */
        padding: 0 20px;
        background-size: cover;

        background-position: center;

    }

    .boton_registro {

        display: block;
        margin: auto;

    }
}


/** gestion_usuarios y reservas*/

.admin-title {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.admin-title:first-of-type {
    margin-top: 50px;
}

hr {
    margin: 50px 0px 50px 0px;
    border: 1px solid #c0c1c3;
}

.contenedor-tabla {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.responsive-tabla {
    li {
        border-radius: 3px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .tabla-header {
        background-color: #c0c1c3;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: bold;
    }

    .tabla-fila {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 30%;
    }

    .col-2 {
        flex-basis: 30%;
    }

    .col-3 {
        flex-basis: 20%;
    }

    .col-4 {
        flex-basis: 20%;
    }

    .col-unica {
        flex-basis: 100%;
    }

    @media all and (max-width: 767px) {
        .tabla-header {
            display: none;
        }

        li {
            display: block;
        }

        .col {
            flex-basis: 100%;
        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #212529;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}


/** User Page */

.title_form {
    text-align: center;
}

.formUser {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
}

.content {
    padding: 20px;
}

.content .price {
    color: white;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
}

.content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.btnReserva {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
    cursor: pointer;
    
}

.up-mis-reservas-btn{
    margin: 50px 0 0 0;
    text-align: center;
   
}

/** NUEVA RESERVA - MIS RESERVAS  */
#nueva-reserva-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mis-reservas {
    background-image: url(../img/astronomy-1867616_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

.reservas-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}   
        
.listado-reservas{
    width: 40%;
    padding: 5px;
    border-radius: 5%;
    border: 2px solid rgb(39, 39, 108);
    background-color: rgba(126, 126, 174, 0.623);
}

.reserva-titulo {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}