:root{

    --colorNavegacion: #212529;
    --grisOscuro: #212529;
    --gris: #c0c1c3; 
    --blanco: #fff;
    --azulTierra: #1c305c;
    --color_boton: #0d6efd;
    --colorNaranja: #db6101;

}

*{
    margin: 0;
    

}
/** Bloque Navegacion */

.navegacion{
    
    background-color: var(--colorNavegacion);
    padding: 10px;
   
}

.navegacion_contenido{
    display: flex;
    gap: 10px;

}

.navegacion_contenido--enlace{
    text-decoration: none;
    color: var(--gris);
}

.enlaces-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navegacion_contenido--enlace:hover{
    color: white;
}

.enlaces-nav__boton{
   
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 900px;
   
}

.navegacion_contenido--boton{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 8px 16px 8px 16px;
    background-color: var(--color_boton);
    border: 2px solid var(--grisOscuro);
    border-radius: 5px;
}

.navegacion_contenido--boton:hover{
    background-color: var(--blanco);
    color: var(--color_boton);
}

/** Background Imagen Luna */

.bg-luna{
    background-image: url(../img/Luna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

/** Footer */

.footer{
    background-color: var(--blanco);
}

.footer_contenido{
    margin-top: 70px;
    display: flex;
    gap: 550px;
   
}

.footer_cotenido-logo{
    margin-left: 40px;
}

.footer_contenido-contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.footer_contenido-contacto h2{
    text-transform: uppercase;
    font-weight: bold;
}

span{
    
    content: '';
    display: block;
    height: 0.5px;
    background-color: grey;
}



/** Formulario Registro */

.form_registro{
    background-color: #212529;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.form_contenedor{
    width: 600px;
    margin: auto;
}

.form_input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
}

.form_input label{
    color: var(--blanco);
}

.form_input input{
    padding: 8px;
    border-radius: 5px;
}

.boton_registro{
    padding: 9px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--color_boton);
}

.boton_separacion{
margin-top: 9px;
padding: 0 0 10px 0;

}

.boton_separacion p{
    color: var(--blanco);
}

.boton_separacion a{
    color: var(--color_boton);
}

/** Login */

.form_login{

    background-color: #212529;
    padding: 0 0 20px 0;

}

/** BLOG */
.blog{
    width: 1000px;
    margin: auto;
}

.blog-contenido{
    margin-top: 40px;
}

.blog-contenido h2{
    text-align: center;
    margin-bottom: 30px;
}

.entrada-blog {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
    
}

.entrada-blog:last-child {
    margin-bottom: 0;
    
}

.entrada-imagen{
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;

}
 

.texto-entrada--titulo{
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--color_boton);
}

.texto-entrada--titulo:after{
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: var(--color_boton);
    margin-top: 10px;

}

.texto-entrada--p{
    color: var(--colorNavegacion);
    display: flex;
    margin-bottom: 10px;
    
}

.texto-entrada--parrafo{
    color: var(--colorNavegacion);
    margin-bottom: 30px;
    
}

.texto-entrada--span{
    background: var(--blanco);
    color: var(--colorNaranja);
}

.texto-entrada--boton{
    padding: 10px;
    text-decoration: none;
    background-color: #102963;
    color: var(--blanco);
    border-radius: 5px;
    
}