:root {

    --colorNavegacion: #212529;
    --grisOscuro: #212529;
    --gris: #c0c1c3;
    --blanco: #fff;
    --azulTierra: #1c305c;
    --color_boton: #0d6efd;
    --colorNaranja: #db6101;

}

body{
width: 100%;

}

/** Globales */
* {
    margin: 0px;
    padding: 0px;
    font-size: large;
    box-sizing: border-box;


}

/** Bloque Navegacion */

.header {
   /*width: 1600px;*/
   width: 100%;
    width: auto;
}

.navegacion {

    background-color: var(--colorNavegacion);
    /*width: 1600px;*/
    width: 100%;
    padding: 10px;

}

.navegacion_contenido {
    display: flex;
    gap: 10px;

}

.navegacion_contenido--enlace {
    text-decoration: none;
    color: var(--gris);
}

.enlaces-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navegacion_contenido--enlace:hover {
    color: white;
}

.enlaces-nav__boton {

    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 900px;

}

.navegacion_contenido--boton {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    padding: 8px 16px 8px 16px;
    background-color: var(--color_boton);
    border: 2px solid var(--grisOscuro);
    border-radius: 5px;
}

.navegacion_contenido--boton:hover {
    background-color: var(--blanco);
    color: var(--color_boton);
    cursor: pointer;
}

/** Background Imagen Luna */

.bg-luna {
    background-image: url(../img/Luna.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

/** Footer */

.footer {
    background-color: var(--blanco);
    /**width: 1620px;*/
    width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    

}





.footer_contenido {
    margin-top: 70px;
    display: flex;
    gap: 390px;
    padding: 2%;

}

.footer_cotenido-logo {
    margin-left: 40px;
}

.footer_contenido-contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.footer_contenido-contacto h2 {
    text-transform: uppercase;
    font-weight: bold;
}


/** Footer logo redes sociales*/

    .footer_redes {

        
        gap: 4px;
        width: 35px;
        height: 35px;
        display: flex;
        cursor: pointer;
    
    }



.copi_footer {

    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: var(--colorNavegacion);
    color: var(--blanco);
}




/** Formulario Registro */

.form_registro {
    background-color: #212529;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form_contenedor {
    width: 600px;
    margin: auto;
   
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
}

.form_input label {
    color: var(--blanco);
}

.form_input input {
    padding: 8px;
    border-radius: 5px;
}

.boton_registro {
    padding: 9px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--color_boton);
    cursor: pointer;
}

.boton_separacion {
    margin-top: 9px;
    padding: 0 0 10px 0;

}

.boton_separacion p {
    color: var(--blanco);
}

.boton_separacion a {
    color: var(--color_boton);
}

/** Login */

.form_login {

    background-color: #212529;
    padding: 0 0 20px 0;
   
  
    width: 100%; /* Cambia este valor según lo que necesites */
    margin: auto;

}




/** BLOG */
.blog {
   /** max-width: 1000px;*/
   width: 100%;
    width: auto;
    margin: auto;


}

.blog-contenido {
    margin-top: 40px;
}

.blog-contenido h2 {
    text-align: center;
    margin-bottom: 30px;
}

.entrada-blog {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;

}

.entrada-blog:last-child {
    margin-bottom: 0;

}

.entrada-imagen {
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;

}


.texto-entrada--titulo {
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--color_boton);
}

.texto-entrada--titulo:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: var(--color_boton);
    margin-top: 10px;

}

.texto-entrada--p {
    color: var(--colorNavegacion);
    display: flex;
    margin-bottom: 10px;

}

.texto-entrada--parrafo {
    color: var(--colorNavegacion);
    margin-bottom: 30px;

}

.texto-entrada--span {
    background: var(--blanco);
    color: var(--colorNaranja);
}

.texto-entrada--boton {
    padding: 10px;
    text-decoration: none;
    background-color: #102963;
    color: var(--blanco);
    border-radius: 5px;

}





.footer_contenido--blog{
    text-align: center;
}

.copy_foooter--blog{
    text-align: center;
   /* width: 1600px;*/
   width: 100%;
    padding: 15px;
    background-color: var(--colorNavegacion);
    color: var(--blanco);
    
}


@media (max-width: 1000px) {
    .entrada-blog {
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
        
    }
    .texto-entrada{
        text-align: center;
    }

    .texto-entrada--titulo{
        text-align: center;
    }

    .texto-entrada--p{
        justify-content: center;
    }

    .texto-entrada--titulo:after {
        content: '';
        display: block;
        width: 150px;
        height: 5px;
        background: var(--color_boton);
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_contenido-contacto{
        width: auto;
    }

    .copy_foooter--blog{
        width: 1000px;

    }

}


@media (max-width: 768px) {

    .navegacion{
        width: auto;
    }
    .navegacion_contenido {
        flex-direction: column;
        align-items: center; 
        gap: 10px;

    }

    .enlaces-nav{
        flex-direction: column;
    }

    .copy_foooter--blog{
        width: 1000px;

    }

    .blog-contenido{
        text-align: center;
    }
   

}

/**Responsive login_php*/
@media (max-width: 768px) {
    .form_contenedor {
        max-width: 100%; /* El formulario ocupará todo el ancho disponible */
        padding: 0 20px; 
    }
}


/**Responsive footer*/
@media (max-width: 768px) {
  
    .footer_contenido {
        flex-direction: column;
        gap: 10px;
    }
}